body{background-color: rgb(248, 241, 134);
}
h1{text-align: center;
}
.p1 {border-style: double;
border-color:  rgb(64, 168, 168);
border-width: 2px;
}
.p2{text-align: right;
border-style: groove;
border-color: rgb(11, 180, 82);
border-width: 4px;
}
.p3{text-align: center;
    border-style: dashed;
    border-color: rgb(180, 19, 1);
    border-width: 3px;
    }

    .p4{text-align: left;
        border-style: double;
        border-color: rgb(148, 153, 201);
        border-width: 6px;
        }
        .p5{text-align: right;
            border-style: solid;
            border-color: rgb(126, 201, 64);
            border-width: 3px;
            }
            .p6{text-align: right;
                border-style: none;
                border-color: rgb(80, 201, 185);
                border-width: 2px;
                }
        